body {
    font-family: 'Franaklin Gothic Medium', sans-serif;
    /* background-color: #1a1a1a; */
    background-color: #151D23;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar {
    /* background-color: #333; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #31353B;
    padding: 15px;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar a {
    color: white;
    /* background-color: #ff9800; */
    background-color: #C95730;
    border-radius: 10px;
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #813015;
}


.login-container {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #222;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.signup-container {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #222;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    text-align: left;
}

.logo {
    width: 55%;
    max-width: 300px;
    margin-bottom: 10px;
}

.login-form input {
    box-sizing: border-box;
    width: 55%;
    padding: 14px;
    margin: 10px 0;
    border: 2px solid #5D757B;
    background-color: transparent;
    color: #FAF6EA;
    font-size: 16px;
    border-radius: 8px;
}

.login-form button {
    width: 55%;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #C95730; /* rustic orange */
    color: #f5e9c5;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
  
  .login-form a, p {
    margin-top: 15px;
    color: #5D757B
    
}

a {
    color: #ff9800;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 100px 20px 20px;
    background-color: #222;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.profile-info {
    text-align: left;
}

.profile-pic {
    width: 80px;
    height: 80px;
    background-color: gray;
}

.event-form-container {
    width:500px;
    margin: 20px auto;

}

.event-form input, select {
    box-sizing: border-box;
    width:100%;
    padding: 14px;
    margin: 10px 0;
    border: 2px solid #5D757B;
    background-color: transparent;
    color: #FAF6EA;
    font-size: 16px;
    border-radius: 8px;
}

select option {
    background-color:#31353B;
    color: #FAF6EA;
    font-size: 16px;
    border-radius: 8px;
}

.event-form button {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #C95730; /* rustic orange */
    color: #f5e9c5;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.event-form button:hover {
    background-color: #813015;
}

.event-posts-container {
    border-top: solid;
    border-color:#C95730;
}

.event-entry {
    padding: 20px;
    margin: 20px auto;
    border: 2px solid #5D757B;
    border-radius:20px;
    background-color: #333;
}

.event-header {
    margin-top: 0;
    font-size: 20px;
    border-bottom: 2px solid #5D757B;
}
