body {
    font-family: 'Franaklin Gothic Medium', sans-serif;
    /* background-color: #1a1a1a; */
    background-color: #151D23;
    color: #FAF6EA;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar {
    /* background-color: #333; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #31353B;
    padding: 15px;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar a {
    color: white;
    /* background-color: #ff9800; */
    background-color: #C95730;
    border-radius: 10px;
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    transition: background-color 0.2s;
}

.navbar a:hover {
    background-color: #813015;
}


.login-container {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #222;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.signup-container {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #222;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    text-align: left;
}

.logo {
    width: 55%;
    max-width: 300px;
    margin-bottom: 10px;
}

.login-error {
    color: red;
    margin-bottom: 15px;
    font-weight: bold;
}

.login-form input {
    box-sizing: border-box;
    width: 55%;
    padding: 14px;
    margin: 10px 0;
    border: 2px solid #5D757B;
    background-color: transparent;
    color: #FAF6EA;
    font-size: 16px;
    border-radius: 8px;
}

.login-form button {
    width: 55%;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #C95730; /* rustic orange */
    color: #FAF6EA;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
  
  .login-form a, .login-form p {
    margin-top: 15px;
    color: #5D757B
    
}

a {
    color: #ff9800;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 100px 20px 20px;
    background-color: #222;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    gap: 20px;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.profile-info {
    text-align: left;
}

.profile-pic {
    width: 80px;
    height: 80px;
    background-color: gray;
}

.profile-section {
    border-top: 2px solid #C95730;
    
}

.event-page-container {
    display: flex;
    height: 650px;
    margin-bottom: 20px;
    gap:20px;
    
}

.event-form-container {
    width:400px;
    /* margin: 20px; */
    

}

.event-form {
    padding-top: 60px;
}
.event-form input, select, textarea {
    box-sizing: border-box;
    width:100%;
    padding: 14px;
    margin: 10px 0;
    border: 2px solid #5D757B;
    background-color: transparent;
    color: #FAF6EA;
    font-size: 16px;
    border-radius: 8px;
}

select option {
    background-color:#31353B;
    color: #FAF6EA;
    font-size: 16px;
    border-radius: 8px;
}




.event-form button {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #C95730; /* rustic orange */
    color: #FAF6EA;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s;
}

.event-form button:hover {
    background-color: #813015;
}

.event-posts-container {

    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* margin: 20px; */
    padding-left: 20px;
    max-height: 700px;
    border-left: 2px solid #C95730;
}

.event-posts-scrolling-container {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    padding-right: 10px;
}

.event-entry {
    padding: 10px 20px;
    margin: 10px 0;
    border: 2px solid #5D757B;
    border-radius: 12px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    color: #FAF6EA;
    gap: 10px;
}

.event-entry-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 2px solid #5D757B;
}

.event-name {
    font-size: 18px;
    margin: 0;
    color: #FAF6EA;
}

.event-attendance {
    /* font-size: 14px; */
    color: #FAF6EA;
    margin: 0;
    font-weight: bold;
}

.event-entry-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FAF6EA;
}

.event-details {
    font-size: 16px;
    color: #FAF6EA;
    justify-content: center;
}

.event-join-button {
    padding: 16px 20px;
    background-color: #C95730;
    color: #FAF6EA;
    border: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    line-height: 1.2;
    height: 52px; /* controls height visually if using 2 lines */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: normal;
    transition: background-color 0.2s;
}

.event-join-button:hover {
    background-color: #813015;
}

/* CSS for Messages page begins */
.msg-header {
    width: 100%;
}

.msg-page-container {
    display: flex;
    height: 600px;
    gap: 10px;
}

.msg-buddies-container {
    flex: 0 0 auto;
    max-width: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-right: 20px;
    /* border-right: solid white; */
  }


.msg-buddy-btn {
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 10px;
    background-color: #5D757B;
    border: none;
    border-radius: 8px;
    /* font-size: 18px; */
    font-weight: bold;
    color: #151D23;
    cursor: pointer;
    width: 100%;
    text-align: left;
    transition: background-color 0.2s;

}  

.msg-buddy-btn.selected {
    background-color: #C95730;
    color: #FAF6EA;
}

.msg-buddy-btn:hover {
    background-color: #D9A441;

}

.msg-buddy-btn img {
    height:30px;
    width:30px;
    border-radius: 50%;
    margin-right: 10px;
}

.msg-chat-window {
    flex: 1;
    overflow-y: auto;
    flex-direction: column;
    font-size: 16px;
    color: black;
    padding: 10px;
    background-color: #2f2f2f;
    background-image: url('../img/mtn.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.chat-message {
    max-width: 70%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
    position: relative;
}
.chat-message * {
    color: #FAF6EA;
}

.chat-message.sent {
    background-color: #5d757bc0;
    margin-left: auto;
    /* text-align: right; */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.chat-message.received {
    background-color: #151D23c0; /* rustic orange */
    margin-right: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.timestamp {
    display: block;
    font-size: 0.7em;
    color: #d1d1d1;
    margin-top: 5px;

}

.msg-chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }


.msg-form {
    width:100%;
}

.msg-form form {
    display: flex;
    width: 100%;
    gap: 10px;
}

.msg-form input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #5D757B;
    background-color: transparent;
    color: #FAF6EA;
    border-radius: 8px;
    min-width: 0;
}

.msg-form button {
    width: 100px;
    padding: 10px;
    background-color: #C95730;
    color: #FAF6EA;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    flex-shrink: 0;
    transition: background-color 0.2s;
  }

  .msg-form button:hover {
    background-color: #813015;
}





/* End of CSS for Messages page */



/* Scrollbars */
.container::-webkit-scrollbar {
  width: 10px;
}

.chat-window::-webkit-scrollbar-track,
.friends-list::-webkit-scrollbar-track {
  background: #31353B;         
  border-radius: 5px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #31353B;   
  border-radius: 5px;
  border: 2px solid #151D23;   
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: #D9A441;   /* Mustard on hover */
}



/* colors:

#5D757B - slate gray-blue
#151D23 - Navy-Black
#31353B → Charcoal / near-black
#C95730 - orange
#D9A441 - yellow/gold
#78c091
 */
