<!DOCTYPE html>

<html>
    <head>
        <title>Belay Budy - New User Signup</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="signup-container">
            <h2>Enter your info</h2>

            <form  class="event-form" method="POST">
                <label for="username">User Name</label>
                <input type="text" id="username" name="username" required>
                <label for="userEmail">Email Address</label>
                <input type="text" id="userEmail" name="userEmail" required>
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" required>
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" required>
                <!-- <label for="userHeight">Height</label>
                <input type="text" id="userHeight" required>
                <label for="userWeight">Weight</label>
                <input type="text" id="userWeight" required> -->
                <label for="userCity">City</label>
                <input type="text" id="userCity" name="userCity" required>
                <label for="userState">State</label>
                <input type="text" id="userState" name="userState" required>
                <label for="userXP">Experience</label>
                <select id="userXP" name = "userXP" required>
                    <option value="1">Gumby</option>
                    <option value="2">Crag Tourist</option>
                    <option value="3">Gear Junkie</option>
                    <option value="4">Rope Gun</option>
                    <option value="5">Beta Whisperer</option>
                    <option value="6">Crag Legend</option>
                </select>
                <!--<label for="userStyle">Preferred Climbing Styles</label>
                <select id="userStyle" multiple size="8">
                    <option value="0">Bouldering</option>
                    <option value="1">Sport</option>
                    <option value="2">Trad</option>
                    <option value="3">Top Rope</option>
                    <option value="4">Indoor Climbing</option>
                    <option value="5">Alpine Climbing</option>
                    <option value="6">Aid</option>
                    <option value="7">Mixed</option>
                </select> -->
                <label for="bio">Bio</label>
                <input type="text" id="bio" name="bio" required>
                <label for="profilePic">Profile Picture</label>
                <input type="file" name="profilePic" id="profilePic" accept="image/*">
                <button type="submit">Sign Me Up!</button>
            </form>
        </div>
    </body>
</html>
