{% extends "layout.html" %}

{% block content %}

<div class="directory-container">
    <div class="directory-header">
        <h2>Belay Buddy Members Directory</h2>
    </div>
    <div class="directory-scrolling-list">
    {% for user in users %}
        {% if user.userID != current_user_id %}
            <div class="directory-entry">
                <div class="directory-entry-left">
                    <div class="directory-names">
                        <h3>{{ user.lastname }}, {{ user.firstname }}</h3>
                        <p>{{ user.username }}</p>
                    </div>
                    <div class="directory-info">
                        <p>{{ user.city }}, {{ user.state }}</p>
                    </div>
                    <div class="directory-info">
                        <p>{{ user.experience }}</p>
                    </div>
                </div>
                {% if not user.is_buddy %}
                    <form action="{{ url_for('add_buddy') }}" method="POST">
                        <input type="hidden" name="FriendID" value="{{ user.userID }}">
                        <button type="submit" class="directory-addfriend-button">Add Buddy</button>
                    </form>
                {% else %}
                    <span class="directory-addfriend-button" style="background-color: #5D757B; cursor: default; width:78px; height: 26px">Buddy</span>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    </div>
    
</div>


{% endblock %}
