<!DOCTYPE html>


<html>
    <head>
        <title>Belay Buddy Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h2>LOGIN or SIGN UP</h2>

        <form action="{{ url_for('profile') }}">
            <input type="text" id="userName" name="userName" placeholder="User Name" required>
            <input type="submit" placeholder="Login"><br><br>
        </form>
        <a href="{{ url_for('create_profile') }}">Sign up as new user</a>
    </body>
</html>

