<!--
  File: layout.html
  Project: Belay Buddy (Team 2 - BurndownForWhat)
  Author: Mitchell Avery
  Date: 04/08/2025
  Description: Layout template for all internal pages. Displays shared nav bar at top and container for page body.
  Usage: Extends to directory.html, events.html, locations.html, messages.html and profile.html
  Citations:
    - https://stackoverflow.com/questions/28496892/inheritance-in-jinja2-templates
    - https://tedboy.github.io/jinja2/templ9.html
-->

<!DOCTYPE html>
<html>
    <head>
        <title>Belay Buddy</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="navbar">
            <a href="{{ url_for('profile') }}">Profile</a>
            <a href="{{ url_for('events') }}">Events</a>
            <a href="{{ url_for('messages') }}">Messages</a>
            <a href="{{ url_for('locations') }}">Locations</a>
            <a href="{{ url_for('directory') }}">Directory</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
        
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>

        
    </body>
</html>
