<!DOCTYPE html>
<html>
    <head>
        <title>Belay Buddy</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="navbar">
            <a href="{{ url_for('profile') }}">Profile</a>
            <a href="{{ url_for('events') }}">Events</a>
            <a href="{{ url_for('messages') }}">Messages</a>
            <a href="{{ url_for('locations') }}">Locations</a>
            <a href="{{ url_for('directory') }}">Directory</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
        
        <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        </div>
    </body>
</html>
