{% extends "layout.html" %}

{% block content %}

<div class="container">
    <h1>Locations</h1>
</div>

<h2>Climbing Locations in Denver</h2>
<br>

<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d785715.2579891625!2d-105.72118860838015!3d39.71268271851661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sclimbing%20gyms%20in%20denver%2C%20co!5e0!3m2!1sen!2sus!4v1744604660394!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

{% endblock %}
