<!--
  File: login.html
  Project: Belay Buddy (Team 2 - BurndownForWhat)
  Author: Mitchell Avery
  Date: 04/08/2025
  Description:  
        Allows users to log in using their existing username. If the user is not found in the database,  
          an error message is displayed. Upon successful login, the user is redirected to their profile page.
        Provides link to signup form for new users as well.
  Usage:
        Uses Flask session to persist user data
-->
<!DOCTYPE html>


<html>
    <head>
        <title>Belay Buddy Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="login-container">
            <img src="static/img/belayBuddy_logo_temp_01.svg" alt ="Belay Buddy Logo" class="logo">
            {% if error %}
                <div class="login-error">
                    {{ error }}
                </div>
            {% endif %}
            <form class="login-form" method="post">
                <input type="text" id="username" name="username" placeholder="User Name" required>
                <button type="submit">Log In</button>
                <p>Don't have an account? <a href="{{ url_for('create_profile') }}">Sign up!</a></p>
            </form>
            
        </div>
    </body>
</html>

