<!DOCTYPE html>


<html>
    <head>
        <title>Belay Buddy Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="login-container">
            <img src="static/img/belayBuddy_logo_temp_01.svg" alt ="Belay Buddy Logo" class="logo">

            <form class="login-form" method="post">
                <input type="text" id="username" name="username" placeholder="User Name" required>
                <button type="submit">Log In</button>
                <p>Don't have an account? <a href="{{ url_for('create_profile') }}">Sign up!</a></p>
            </form>
            
        </div>
    </body>
</html>

