{% extends "layout.html" %}

{% block content %}

<div id="full_page">
<div class="container">
    <h1>Messages</h1>
</div>
<div id="buddies">
    <h2>My Buddies</h2>
    <p id="p1">
        list of buddies
    </p>
</div>
<div id="messages">
    <h2>Conversation</h2>
    <div class="cont"></div>
        <img id="mtn" src="static/img/mtn.png" alt ="mountain">
        <div id="p2">
            test a long message test a long message test 
            a long message test a long message test a long message 
            test a long message test a long message test a long message test a 
            long message test a long message test a long message test a long 
            message test a long message test a long message test a long message test a long message test a long message test a long message test a long message 
        </div>
    </div>
</div>
</div>

{% endblock %}
