{% extends "layout.html" %}

{% block content %}



<div class="msg-header">
    <h2>Messages</h2>
</div>
<div class="msg-page-container">
    <div class="msg-buddies-container">
        {% for buddy in buddy_names %}
            <form method="POST" action="{{ url_for('messages') }}">
                <input type="hidden" name="buddy-id" value="{{ buddy[0] }}">
                <button type="submit" class="msg-buddy-btn {% if buddy[0] == chat_buddy_id %}selected{% endif %}">
                    <img src="{{ url_for('static', filename='img/user_icon.png')}}">
                    <span>{{ buddy[1] }}</span>
                </button>
            </form>
        {% endfor %}

        <!-- OLD HARDCODED ENTRY
        <button class="msg-buddy-btn">
            <img src="static/img/user_icon.png" alt="user" />
            <span>Tim</span>
        </button> -->
        
    </div>
    <div class="msg-chat-container">
        <div class="msg-chat-window">
            {% if messages %}
                {% for message in messages %}
                    <div class="chat-message {% if message.sent_by_user %}sent{% else %}received{% endif %}">
                        <p><strong>{{ message.sender }}: </strong>{{ message.text }}</p>
                        <span class="timestamp">{{ message.time }}</span>
                    </div>

                {% endfor %}
            {% else %}
                <div class="chat-empty-message">
                    <span>No messages to display</span>
                </div>
            {% endif %}

        </div>
        <div class="msg-form">
            <form method="post" action="{{ url_for('messages') }}">
                <input type="hidden" name="msg-buddy-id" value="{{ chat_buddy_id }}">
                <input type="text" name="msg" placeholder="Type your message here..." required>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}
