{% extends "layout.html" %}

{% block content %}

<!-- <div id="full_page"> -->
<div class="container">
    <div class="msg-header">
        <h1>Messages</h1>
    </div>
    <div class="msg-page-container">
        <div class="msg-buddies-container">
            <button class="msg-buddy-btn selected">
                <img src="static/img/user_icon.png" alt="user" />
                <span>Jane Climbs</span>
            </button>
            <button class="msg-buddy-btn">
                <img src="static/img/user_icon.png" alt="user" />
                <span>Tim</span>
            </button>
            <button class="msg-buddy-btn">
                <img src="static/img/user_icon.png" alt="user" />
                <span>Lee Kim</span>
            </button>
            <button class="msg-buddy-btn">
                <img src="static/img/user_icon.png" alt="user" />
                <span>Sam</span>
            </button>
            <button class="msg-buddy-btn">
                <img src="static/img/user_icon.png" alt="user" />
                <span>Cat</span>
            </button>
            <button class="msg-buddy-btn">
                <img src="static/img/user_icon.png" alt="user" />
                <span>Cat</span>
            </button>
            
            <button class="msg-buddy-btn">
                <img src="static/img/user_icon.png" alt="user" />
                <span>Cat</span>
            </button>
            
            <button class="msg-buddy-btn">
                <img src="static/img/user_icon.png" alt="user" />
                <span>Cat</span>
            </button>
            
            <button class="msg-buddy-btn">
                <img src="static/img/user_icon.png" alt="user" />
                <span>Cat</span>
            </button>
            
            <button class="msg-buddy-btn">
                <img src="static/img/user_icon.png" alt="user" />
                <span>Cat</span>
            </button>
            <button class="msg-buddy-btn">
                <img src="static/img/user_icon.png" alt="user" />
                <span>Cat</span>
            </button>
            <button class="msg-buddy-btn">
                <img src="static/img/user_icon.png" alt="user" />
                <span>Cat</span>
            </button>
            <button class="msg-buddy-btn">
                <img src="static/img/user_icon.png" alt="user" />
                <span>Cat</span>
            </button>
            <button class="msg-buddy-btn">
                <img src="static/img/user_icon.png" alt="user" />
                <span>Cat</span>
            </button>

        </div>
        <div class="msg-chat-container">
            <div class="msg-chat-window">
                <div class="chat-message received">
                    <p><strong>JaneClimbs: </strong>Hey RG28, I saw you want to climb this Sat at Movement in Denver. I’m interested!</p>
                    <span class="timestamp">4/11/25 9:51 PM</span>
                </div>
                <div class="chat-message sent">
                    <p><strong>RG28: </strong>Hi JaneClimbs, yes it would be great to have a climb partner! Have all your gear?</p>
                    <span class="timestamp">4/12/25 8:23 AM</span>
                </div>
                <div class="chat-message received">
                    <p><strong>JaneClimbs:</strong> Sure do, and Movement is my favorite. See you there at 10?</p>
                    <span class="timestamp">4/12/25 10:34 PM</span>
                </div>
                <div class="chat-message sent">
                    <p><strong>RG28: </strong> Yes, look forward to meet you!</p>
                    <span class="timestamp">4/12/25 4:05 PM</span>
                </div>
                <div class="chat-message sent">
                    <p><strong>RG28:</strong> Hey, checking in to see if you're ready for the climb tomorrow. Do you have everything you need?</p>
                    <span class="timestamp">4/15/25 8:45 PM</span>
                </div>
                <div class="chat-message received">
                    <p><strong>JaneClimbs: </strong>Hi RG28, yep, my friend lent me their chalk bag.. that's the only thing I was missing.</p>
                    <span class="timestamp">4/15/25 9:15 PM</span>
                </div>
                <div class="chat-message sent">
                    <p><strong>RG28: </strong>Fantastic! I'll see you soon then!</p>
                    <span class="timestamp">4/16/25 8:55 AM</span>
                </div>
                <div class="chat-message received">
                    <p>more conversation</p>
                    <span class="timestamp">after 9:00AM</span>
                </div>
                <div class="chat-message sent">
                    <p>more conversation</p>
                    <span class="timestamp">like noonish?</span>
                </div>
                <div class="chat-message received">
                    <p>more conversation</p>
                    <span class="timestamp">later</span>
                </div>
                <div class="chat-message sent">
                    <p>still talking</p>
                    <span class="timestamp">later</span>
                </div>
                <div class="chat-message received">
                    <p>even more conversation</p>
                    <span class="timestamp">later</span>
                </div>
        
            </div>
            <div class="msg-form">
                <form method="post">
                    <input type="text" name="mssg" placeholder="Type your message here..." required>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
