{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="profile-header">
        <div class="profile-info">
            <h2>Welcome, {{ username }}!</h2>
            <p>some info here....</p>
    
        </div>
        <div class="profile-pic"></div>
    </div>

    <div class="profile-section">
        <h3>About</h3>
        <p>Skill level, climbing style, height, weight, age, etc.</p>
    </div>

    <div class="profile-section">
        <h3>Current Events</h3>
        <p>here's a list of events you're currently enrolled in</p>
    </div>

    <div class="profile-section">
        <h3>Past events</h3>
        <p>list of completed events and maybe some pics or other info?</p>
    </div>
</div>
{% endblock %}
